screen-length disable
display ip routing-table 112.45.33.0 27
display ip routing-table 172.18.15.0 29
display current-configuration | include 112.45.33.0
display current-configuration | include 112.45.33.1
display current-configuration | include 172.18.15.1
exit
